<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />

    <meta charset="utf-8" />
    <title>Flight Map</title>
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>