
@{
    ViewBag.Title = "display";
}
<h2>display</h2>
<div>
    <canvas id="displayCanvas" width="1000"height="1000"></canvas>
</div>

<script>
    var prevX = 0;
    var prevY = 0;
    var IntervalTime = 1 * 1000
    drawCircle = (function () {
        $.post( "@Url.Action("GetLocation")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                lon = $xml.find( "lon" ).text();
                lat = $xml.find( "lat" ).text();
                // Draw Circle
                var canvas = document.getElementById('displayCanvas');
                var context = canvas.getContext('2d');
                var xCoord = parseFloat(lon) + 300;
                var yCoord = parseFloat(lat) + 100;

                //draw the outer circle
                var pointSize = 4;
                context.fillStyle = "000000"//black
                context.beginPath(); //Start path
                context.arc(xCoord, yCoord, pointSize, 0, Math.PI * 2, true); // Draw a point using the arc function of the canvas with a point structure.
                context.fill();

                //draw the inner circle
                context.fillStyle = "#ff2626"; //red color
                pointSize = 3;
                context.beginPath(); //Start path
                context.arc(xCoord, yCoord, pointSize, 0, Math.PI * 2, true); // Draw a point using the arc function of the canvas with a point structure.
                context.fill();

        });
    });


    drawLine = (function () {
        $.post( "@Url.Action("GetLocation")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                lon = $xml.find( "lon" ).text();
                lat = $xml.find( "lat" ).text();
                // Draw Circle
                var canvas = document.getElementById('displayCanvas');
                var context = canvas.getContext('2d');
                context.lineWidth = 10;
                context.strokeStyle = "#ff2626";
                var xCoord = parseFloat(lon) + 300;
                var yCoord = parseFloat(lat) + 100;

                context.beginPath();
                context.moveTo(prevX, prevY);
                context.lineTo(prevX + 10, prevY + 10)
                prevX = prevX + 10;
                prevY = prevY + 10;
                context.stroke();

        });
    });

    //setInterval(drawCircle, IntervalTime);
    drawCircle();
    var timesPerSec = @Session["times"];
    if (timesPerSec == "4")
        setInterval(drawLine, 250);
    

    if (timesPerSec == "4")
        drawLine();
</script>